* {
    font-family: Garamond, Serif;
    line-height: 1.8;
    background-color: #1d0416;
    color: #f8d4ed;
	accent-color: #dfa92f;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
}

.title {
    font-size: 50px;
    text-align: center;
    color: #4ae196;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.description, .description h1, .description img, .description p, .description em {
	background-color: #6f62cc;
}

.ingredients, .ingredients h2, .ingredients ul, .ingredients li {
    background-color: #9a4518;
}

.steps, .steps h2, .steps ol, .steps li {
	background-color: #ae6493;
}

div {
    padding: 25px;
    margin: 0 50px;
}

img {
    margin: 60px;
}

#top {
    margin-top: 50px;
}

/* 
--text: #f8d4ed;
--background: #1d0416;
--primary: #ec83c5;
--secondary: #9a4518;
--accent: #dfa92f; 
*/

